<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="titulo">Título</label>
        <input
          type="text"
          class="form-control"
          id="titulo"
          required
          [(ngModel)]="livro.titulo"
          name="titulo"
        />
      </div>

      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input
          class="form-control"
          id="descricao"
          required
          [(ngModel)]="livro.descricao"
          name="descricao"
        />
      </div>

      <button (click)="saveLivro()" class="btn btn-success">Enviar</button>
    </div>

    <div *ngIf="submitted">
      <h4>Livro enviado com sucesso!</h4>
      <button class="btn btn-success" (click)="newLivro()">Adicionar</button>
    </div>
  </div>
</div>
